.container {
   height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto ;
 




align-items: flex-start;
}
  

.border{
     height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
 

.border:hover{
    border: 1px solid white;

  }
    
.card{
    height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  

.card0{
    background: url('../../components/img/20yar.jpg') center center no-repeat;
  background-size: 350px;

}
  
.card0:hover{
    background: url('../../components/img/20yar.jpg') center center no-repeat;
    background-size: 700px;
  }
    

    
      

.card1{
    background: url('https://sun9-48.userapi.com/impf/c301703/v301703872/39a0/wtdRB0fsNb0.jpg?size=462x549&quality=96&sign=cc3a9580183f5928209df063d67b4c5e&type=album') center center no-repeat;
  background-size: 350px;
}
  

.card1:hover{
    background: url('../../components/img/626A4568.jpg') right center no-repeat;
    background-size: 600px;
  }
    

  
     

.card2{
    background: url('../../components/img/626A4568.jpg') center center no-repeat;
  background-size: 370px;
}
  

.card2:hover{
     background: url('../../components/img/626A4568.jpg') left center no-repeat;
    background-size: 600px;

  }
   
   
    

.h2{
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 300px;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 1s;

}
.card2:hover .h2{
    opacity: 1;

}
.card1:hover .h2{
    opacity: 1;

}
.card0:hover .h2{
    opacity: 1;

}
 
 
